*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

span{
    color: #79e779;
    font-weight: bold;
    font: 15px;
    /* padding: 10px 0px 50px 0px; */
}
hr{
    size: 100px;
}

.container{
    width: 100%;
    height: 100vh;
    background: #e3f9e3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculate{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculate form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),-5px -5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form input.rond{
    border-radius: 50%;
    color: #33ffd8;
}

form input.rond:hover{
    border-radius: 10%;
    background-color: #e3f9e3;
    color: rgb(235, 26, 26);
}

form input.oper{
    color: #33ffd8 ;
}

form input.over:hover{
    border-radius: 50%;
    background-color: #e3f9e3;
    color: red;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display  input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}

form input.equal:hover{
    border-radius: 10%;
    background-color: rgb(197, 81, 81);
    color: #e3f9e3;
}


